* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
/*Container - Parceiros*/
.container-partners{
	width: 100%;
	height: 50vh;
	background-color: #2D11BC;
}
.partners-title{
	font-family: 'Comfortaa', cursive;
	font-size: 42px;
	color: white;
	display: flex;
	justify-content: flex-end;
	padding-top: 44px;
	padding-right: 300px;
}
/*Bloco de imagens do container Parceiros*/
.container-partnersimg{
	display: flex;
	justify-content: flex-end;
	margin-top: 35px;
	margin-right: 240px;
}
.partners-brlogo{
	width: 12vw;
	height: 11vh;
	margin-right: 20px;
}
.partners-educaplogo{
	width: 11vw;
	height: 8vh;
}
/*Container dos Contatos*/
.container-contact{
	width: 100%;
	height: 100vh;
	background-color: #2D11BC;
	display: flex;
	justify-content: center;
}	
/*Bloco de texto do container dos contatos*/
.contact-block-text{
	width: 51vw;
	height: 40vh;
	position: relative;
	top: 180px;
}
.contact-block-title{
	font-family: 'Comfortaa', cursive;
	font-size: 42px;
	color: white;
}
.contact-block-p{
	font-family: 'Dosis', sans-serif;
	font-size: 22px;
	font-weight: 400; 
	color: white;
	margin-top: 30px;
}
.contact-block-phone{
	font-family: 'Dosis', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #FFDB39;
	position: relative;
	top: 30px;
	left: 230px;
}
.contact-block-email{
	font-family: 'Dosis', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #FFDB39;
	position: relative;
	top: 30px; 
	left: 230px;
}
.contact-block-img{
	width: 29vw;
	height: 54vh;
	position: absolute;
	top: 160px;
	right: 560px;
}
/*Rodapé - Créditos*/
.footer{
	width: 100%;
	height: 8vh;
	background-color: white;
	display: flex;
	justify-content: center;
}
.footer-credit{
	width: 6vw;
	height: 2vh;
	margin-top: 22px;
}
.footer-logo{
	width: 2,3vw;
	height: 4vh;
	margin-top: 15px;
	margin-left: 5px;
}