* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
/*Container Parceiros*/
.partners{
	width: 100%;
	height: 50vh;
	background-color: #2D11BC;
	display: flex;
	justify-content: flex-end;
}
.partners-title{
	font-family: 'Comfortaa', cursive;
	font-size: 55px;
	color: white;
}
.partners-educaplogo{
	width: 13vw;
	height: 10vh;
}
.partners-brlogo{
	width: 10vw;
	height: 8vh;
}